@using Projeto_ESFase2.Services;
@model IEnumerable<Projeto_ESFase2.Models.Competition>

@{
    ViewData["Title"] = "Index";
    Layout = "_UserAuthenticated";
    
}


<style>
    a{
        color:black;
    }
</style>

<h1><b>Categories</b></h1>

@if (@UsersServices.isAdmin==true)
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New Category</a>
        <a class="btn btn-info" asp-controller="Nomi" asp-action="Create"> Create Nominee </a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Number of votes
            </th>
            <th>
                Finish Time
            </th>
            <th>
                Start Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
            @if (DateTime.Now < item.ClosingTime && !@UsersServices.isAdmin)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberVotes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClosingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingTime)
                    </td>

                </tr>
            }        
            @if (@UsersServices.isAdmin)
            {
                <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberVotes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClosingTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartingTime)
                        </td>

                    
                <td>
                        
                                <a asp-action="AddNominee"  asp-route-id="@item.Id">Add Nominee</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                                <form method="post" asp-controller="Competition" asp-action="Delete" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-danger" method="post">Delete</button>
                    </form>

                    </td>
                </tr>
            }
            <td>
                @if (CompetitionsServices.StartingTime <= DateTime.Now)
                {
                <a class="btn btn-success" asp-action="ViewCompetition" asp-route-id="@item.Id">View Competition</a>
        
                }

            </td>
            
                       
            
            

}   
    </tbody>
</table>
